<div class="otp-container">
  <div class="otp-inputs">
    @for (digit of digits(); track $index) {
      <input
        #otpInput
        type="text"
        inputmode="numeric"
        maxlength="1"
        [value]="digit"
        (input)="onInput($index, $event)"
        (keydown)="onKeyDown($index, $event)"
        (paste)="onPaste($event)"
        (focus)="focusedIndex.set($index)"
        [class.focused]="focusedIndex() === $index"
        [class.filled]="digit.length > 0"
        class="otp-digit"
      />
    }
  </div>
</div>
